<launch>

    <!-- Publish the goal heuristics -->
    <node name="heuristic" pkg="reinforcement_learning" type="heuristic.py" output="screen">
        <!-- Parameters for the node -->
        <rosparam command="load" file="$(find notspot_gazebo)/config/models.yaml"/>
    </node>

    <!-- Calculate rewards -->
    <node name="reward" pkg="reinforcement_learning" type="reward.py" output="screen"/>

    <!-- Policy network -->
    <node name="policy" pkg="reinforcement_learning" type="policy_network.py" output="screen"/>
  
</launch>